<% include partials/header.ejs %>

Vipul is my older brother and he loves to serve customer as he owns business of Tailor and Cloth
<a href="http://www.pluspointailor.com">Pluspointailor.com</a>

<% include partials/footer.ejs %>